<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu mi ullamcorper velit mattis lacinia. Praesent tristique blandit tristique. Quisque vitae libero in tellus semper pulvinar ac blandit mi. Pellentesque hendrerit mollis elit non tristique. Integer nec dignissim nisl, sit amet imperdiet ipsum. In hac habitasse platea dictumst. Nulla non mauris orci.</p>

<%- include("footer") -%>
